.my-orders {
    margin: 50px 0;
}

.my-orders h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: grid;
    gap: 20px;
}

.my-orders-order {
    position: relative;
    display: grid;
    grid-template-columns: 45px 2fr 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    padding: 30px 20px; /* Increased padding for more height */
    color: #454545;
    border-radius: 12px; /* Increased border-radius for a rounder appearance */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Increased box-shadow for a more prominent shadow effect */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: hwb(180 83% 2%);
}

.my-orders-order img {
    width: 100%;
    max-width: 45px;
    border-radius: 8px;
}

.my-orders-order p {
    margin: 0;
}

.my-orders-order p span {
    color: red;
}

.my-orders-order p b {
    font-weight: 500;
}

.my-orders-order button {
    position: absolute;
    bottom: 20px; /* Increased bottom spacing */
    right: 20px; /* Increased right spacing */
    padding: 10px 15px; /* Adjusted padding for better appearance */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 12px;
    transition: background-color 0.3s ease;
}

.my-orders-order button:hover {
    background-color: #333;
}

.my-orders-order:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Increased box-shadow for a more prominent hover effect */
}
